.btn-sm{
  padding: 5px;
}


.btn-md{
  padding: 10px;
}


.btn-lg{
  padding: 15px;
}

.btn-xl{
  padding: 20px;
}

.valid{
  border-color: green;
}

.invalid{
  border-color: red;
}

.valid:focus{
  border-color: green;
}

.invalid:focus{
  border-color: red;
}

input{
  outline:none;
}


.product-card{
  width: 350px;
  padding: 10px;
  box-shadow: 1px 1px 5px gray;
}

.product-card img{
  width: 100%;
  aspect-ratio: 1/1.4;
}

.d-flex{
  display: flex;
  gap:30px;
}


.wrap{
  flex-wrap: wrap;
}